@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black-gradient: linear-gradient(
		144.39deg,
		#ffffff -278.56%,
		#6d6d6d -78.47%,
		#11101d 91.61%
	);
	--card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
	scroll-behavior: smooth;
}

.foundation {
	font-family: "Foundation";
}

.nav-bg {
	background-color: rgb(0, 4, 15);
}

.text-gradient {
	background: radial-gradient(
		circle,
		hsla(182, 78%, 49%, 1) 0%,
		hsla(253, 88%, 74%, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.text-blue-gradient {
	background: linear-gradient(
		157.81deg,
		#def9fa -43.27%,
		#bef3f5 -21.24%,
		#9dedf0 12.19%,
		#7de7eb 29.82%,
		#5ce1e6 51.94%,
		#1cd8de 90.29%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

/* .bg-purple-gradient {
  background: linear-gradient(
    157.81deg,
    #DFDAF7 -43.27%,
    #D2C9F7 -21.24%,
    #C4B7F7 12.19%,
    #B7A6F7 29.82%,
    #A994F7 51.94%,
    #9C83F7 90.29%
  );
} */

.bg-purple-gradient {
	background: linear-gradient(
		157.81deg,
		hsla(250, 64%, 91%, 1) 0%,
		hsla(253, 88%, 74%, 1) 45%,
		hsla(267, 96%, 45%, 1) 100%
	);
}

/* .gradient-border-bg {
  border: 2px solid;
  border-image: linear-gradient(157.81deg, #d4cef4, #9c83f7) 1;
  padding: 1rem;
  background: linear-gradient(157.81deg, hsla(250, 64%, 91%, 1) 0%, hsla(253, 88%, 74%, 1) 45%, hsla(267, 96%, 45%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} */

.gradient-border-bg {
	border: 1px solid #1cd8de;
	color: #1cd8de;
	padding: 1rem;
}

/* .gradient-purple-border {
  background-image: linear-gradient(157.81deg, hsla(250, 64%, 91%, 1) 0%, hsla(253, 88%, 74%, 1) 45%, hsla(267, 96%, 45%, 1) 100%);
  border: 16px solid transparent;
  border-image-slice: 1;
  height: 120px;
} */

/* .bg-purple-gradient {
  background: linear-gradient(157.81deg, hsla(0, 0%, 100%, 1) 0%, hsla(253, 88%, 74%, 1) 100%);
} */

.bg-black-gradient-transparent {
	background: linear-gradient(
		144.39deg,
		rgba(255, 255, 255, 10%),
		rgba(17, 16, 29, 10%)
	);
}

.bg-black-gradient {
	background-color: rgba(32, 32, 32, 0.7);

	z-index: 1;
}

.bg-black-gradient-2 {
	background: linear-gradient(
		-168.39deg,
		#b8b8b8 -278.56%,
		#616161 -78.47%,
		#0d0c16 91.61%
	);
}

.bg-gray-gradient {
	background: linear-gradient(
		153.47deg,
		rgba(255, 255, 255, 0) -341.94%,
		#14101d 95.11%
	);
}

.bg-discount-gradient {
	background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
	box-shadow: 0px 20px 100px -10px rgba(54, 54, 54, 80%);
}

.sidebar {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slide-top {
	0% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.feature-card:hover {
	background: var(--black-gradient);
	box-shadow: var(--card-shadow);
}

.feature-card-bg {
	background: var(--black-gradient);
	box-shadow: var(--card-shadow);
}

.bg-active {
	background: var(--black-gradient);
	box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
	margin-right: 0px;
}

.feedback-card {
	background: transparent;
}

.feedback-card:hover {
	background: var(--black-gradient);
}

.blue__gradient {
	background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
	filter: blur(123px);
}

.pink__gradient {
	background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
	filter: blur(900px);
}

.white__gradient {
	background: rgba(255, 255, 255, 0.6);
	filter: blur(750px);
}

.etiquet-price {
	position: relative;
	width: 14.46rem;
	padding: 0.2rem 1.2rem;
	border-radius: 5px 0 0 5px;
	left: 2.5rem;
}

.etiquet-price p {
	margin: 0;
	padding-top: 0.4rem;
	display: flex;
	font-size: 1.9rem;
	font-weight: 500;
}

.etiquet-price p:before {
	content: "€";
	margin-right: 5px;
	font-size: 15px;
	font-weight: 300;
}

.etiquet-price p:after {
	content: "/ month";
	margin-left: 5px;
	font-size: 15px;
	font-weight: 300;
}

.etiquet-price div {
	position: absolute;
	bottom: -23px;
	right: 0px;
	width: 0;
	height: 0;
	border-top: 13px solid #9c83f7;
	border-bottom: 10px solid transparent;
	border-right: 13px solid transparent;
}

.e-card {
	background: transparent;
	box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
	position: relative;
	overflow: hidden;
}

.wave {
	position: absolute;
	width: 540px;
	height: 700px;
	opacity: 0.6;
	left: 0;
	top: 0;
	margin-left: -50%;
	margin-top: -70%;
	background: linear-gradient(744deg, #af40ff, #6604df 60%, #1cd8de);
}

/* -------------------  Toggle Button on Services */

.switch {
	--_switch-bg-clr: #70a9c5;
	--_switch-padding: 4px; /* padding around button*/
	--_slider-bg-clr: rgba(12, 74, 110, 0.65); /* slider color unchecked */
	--_slider-bg-clr-on: rgba(12, 74, 110, 1); /* slider color checked */
	--_slider-txt-clr: #ffffff;
	--_label-padding: 1rem 2rem; /* padding around the labels -  this gives the switch it's global width and height */
	--_switch-easing: cubic-bezier(
		0.47,
		1.64,
		0.41,
		0.8
	); /* easing on toggle switch */
	color: white;
	width: fit-content;
	display: flex;
	justify-content: center;
	position: relative;
	border-radius: 9999px;
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	position: relative;
	isolation: isolate;
}

.switch input[type="checkbox"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.switch > span {
	display: grid;
	place-content: center;
	transition: opacity 300ms ease-in-out 150ms;
	padding: var(--_label-padding);
}
.switch > div {
	display: flex;
	place-content: center;
	transition: opacity 300ms ease-in-out 150ms;
	padding: var(--_label-padding);
}
.switch::before,
.switch::after {
	content: "";
	position: absolute;
	border-radius: inherit;
	transition: inset 150ms ease-in-out;
}
/* switch slider */
.switch::before {
	background-color: var(--_slider-bg-clr);
	inset: var(--_switch-padding) 50% var(--_switch-padding)
		var(--_switch-padding);
	transition: inset 500ms var(--_switch-easing),
		background-color 500ms ease-in-out;
	z-index: -1;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.3);
}
/* switch bg color */
.switch::after {
	background-color: var(--_switch-bg-clr);
	inset: 0;
	z-index: -2;
}
/* switch hover & focus */
.switch:focus-within::after {
	inset: -0.25rem;
}
.switch:has(input:checked):hover > span:first-of-type,
.switch:has(input:not(:checked)):hover > span:last-of-type {
	opacity: 1;
	transition-delay: 0ms;
	transition-duration: 100ms;
}
/* switch hover */
.switch:has(input:checked):hover::before {
	inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding)
		45%;
}
.switch:has(input:not(:checked)):hover::before {
	inset: var(--_switch-padding) 45% var(--_switch-padding)
		var(--_switch-padding);
}
/* checked - move slider to right */
.switch:has(input:checked)::before {
	background-color: var(--_slider-bg-clr-on);
	inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding)
		50%;
}
/* checked - set opacity */
.switch > span:last-of-type,
.switch > input:checked + span:first-of-type {
	opacity: 0.75;
}
.switch > input:checked ~ span:last-of-type {
	opacity: 1;
}

/* Toggle Button on Services */

@media screen and (max-width: 1060px) {
	.e-card {
		width: 900px;
	}
	.wave {
		width: 1200px;
		height: 700px;
		margin-left: -40%;
		margin-top: -10%;
	}
}

.infotop {
	font-size: 20px;
	position: absolute;
	left: 15px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	padding: 0 10px;
}

.wave:nth-child(2),
.wave:nth-child(3) {
	top: 210px;
}

.playing .wave {
	border-radius: 40%;
	animation: wave 3000ms infinite linear;
}

.wave {
	border-radius: 40%;
	animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
	animation-duration: 4000ms;
}

.wave:nth-child(2) {
	animation-duration: 50s;
}

.playing .wave:nth-child(3) {
	animation-duration: 5000ms;
}

.wave:nth-child(3) {
	animation-duration: 45s;
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
